/*
TODO(you): Write any additional styles you need here.
*/

#musicbox{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gif{
    background-image:  url("https://raw.githubusercontent.com/Giphy/GiphyAPI/master/api_giphy_header.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.playZone{
    height: 70px;
}

.playbtn{
<<<<<<< HEAD
    margin-top: 5px;
    height: 60px;
    margin-left: auto; margin-right: auto;
    width: 60px;
    justify-content: center;
    margin-bottom: 5px;

}
.pausing{
    margin-top: 5px;
    height: 60px;
    margin-left: auto; margin-right: auto;
    content: url("images/play.png");
    width: 60px;
    justify-content: center;
    margin-bottom: 5px;
}
.playing{
    margin-top: 5px;
    height: 60px;
    margin-left: auto; margin-right: auto;
    content: url("images/pause.png");
    width: 60px;
    justify-content: center;
    margin-bottom: 5px;
=======

    margin-top: 5px;
    height: 60px;
    margin-left: auto; margin-right: auto;
    background-image: url("images/play.png");
    background-size: cover;
    width: 60px;
    justify-content: center;
    margin-bottom: 5px;

>>>>>>> 820e75f5661118aebf8cca11cd8b749c7dec8b23
}